<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ADD Batirs</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>
<body>

<div class="container">

    <h3>Добавить новую квартиру</h3>
    <hr/>

    <form th:action="@{saveBatir}" th:object="${batir}" method="POST">

        <input type="text" th:field="*{kurulushName}" class="form-control col-4 mb-4"
               placeholder="Введите название здания"/>
        <input type="text" th:field="*{roomNumber}" class="form-control col-4 mb-4"
               placeholder="Введите количество комнат"/>

        <input type="text" th:field="*{batirFloor}" class="form-control col-4 mb-4" placeholder="Введите этаж"/>

        <input type="text" th:field="*{square}" class="form-control col-4 mb-4" placeholder="Введите площадь"/>
        <input type="text" th:field="*{isSell}" class="form-control col-4 mb-4" placeholder="Введите статус"/>
        <input type="text" th:field="*{price}" class="form-control col-4 mb-4" placeholder="Введите цену"/>

        <button type="submit" class="btn btn-primary col-2">Сохранить</button>

    </form>
    <hr/>
    <a th:href="@{list}">Вернуться к списку квартир</a>
</div>

</body>
</html>