<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Batirs</title>

    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous"/>
</head>

<body>

<div class="container">

    <h3>Список квартир</h3>
    <hr/>
    <a th:href="@{addBatirForm}" class="btn btn-primary">Добавить квартиру</a>
    <br/><br/>
    <table class="table table-bordered table-striped" id="Batirler">

        <thead>
        <tr>
            <th>Название здания</th>
            <th>Количество комнат</th>
            <th>Расположение квартиры на этаже</th>
            <th>Площадь квартиры(м2)</th>
            <th>Статус</th>
            <th>Цена</th>
            <th width="200">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="batir: ${batirs}">
            <td th:text="${batir.kurulushId.name}"></td>
            <td th:text="${batir.roomNumber}"></td>
            <td th:text="${batir.batirFloor}"></td>
            <td th:text="${batir.square}"></td>
            <td th:text="${batir.isSell}"></td>
            <td th:text="${batir.price}"></td>
            <td>
                <a th:href="@{updateBatirForm(id=${batir.batirId})}" class="btn btn-info">Update</a>
                <a th:href="@{deleteBatir(id=${batir.batirId})}" class="btn btn-danger ml-2">Delete</a>
            </td>
        </tr>
        </tbody>

    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
			$(document).ready(function() {
				$("#Batirler").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})

</script>
</body>

</html>

</td>
</tr>
</tbody>

</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
<script>
			$(document).ready(function() {
				$("#employeeTable").DataTable({
						'aoColumnDefs': [{
        				'bSortable': false,
        				'aTargets': [-1] /* 1st one, start by the right */
    				}]
				});
			})

</script>
</body>


</html>